#board > div.cell{

  border: solid 1px black;
  height:80px;
  width:80px;
  display: inline-block;
  margin: 5px;
  padding: 0px;
  border-radius: 40px;
  background-color: white;
}

#board{
	background-color: black;
	display: inline-block;
	padding: 5px;
  ali  : center;
}

#red {
  border: solid 1px black;
  height:80px;
  width:80px;
  display: inline-block;
  margin: 5px;
  padding: 0px;
  border-radius: 40px;
  background-color: red;
}

#blue {
  border: solid 1px black;
  height:80px;
  width:80px;
  display: inline-block;
  margin: 5px;
  padding: 0px;
  border-radius: 40px;
  background-color: blue;
}

